..gitignore.kate-swp
.fastboot
bin/
config.cache
config.log
config.status
lib/etc/board.*
lib/etc/last
lib/etc/plrmail
lib/etc/time
lib/plrfiles/*
lib/plrobjs/*
log/
pause
src/.accepted
src/conf.h
src/depend
src/Makefile
src/util/depend
src/util/Makefile
syslog
syslog.*
*.o
